EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyDDdMvYxnBpCmlWW-I-S96lxWknJWDaV98
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=props-bible-app-1c1cb.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=props-bible-app-1c1cb
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=props-bible-app-1c1cb.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=162597141271
EXPO_PUBLIC_FIREBASE_APP_ID=1:162597141271:web:4a8f66c0880f5106695552
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-L01PPH8D2Z

# Google Sign-In Configuration
# Get this from Firebase Console > Authentication > Sign-in method > Google > Web SDK configuration
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=162597141271-lhl338e6m7sf4m81l5ev271k8rmqv0da.apps.googleusercontent.com

# Currency Configuration
EXPO_PUBLIC_CURRENCY=GBP 